<style>
  select{
      width: 250px;
      font-size: 15px;
  }
</style>
<div style="margin-left: 20%; width: 50%; background: #f8f8ff;margin-top: 10vh;height: 35vh;border: 1px solid #d3d3d3;">
  <span style="text-align: center;width: 100%;"><h3><b><%= @header%></b></h3></span>
  <table style="width: 100%;margin-top: 3vh;">
    <tr>
      <td style="width: 50%;padding-left: 30px;font-size: 15px;">
        District Of Registration
      </td>
      <td>
        <select disabled="disabled" id="current_district" type="text" name="current_district" data-validation="required"
                onchange="tas('current_ta', this.value, ['current_village'])"></select>
      </td>
    </tr>

    <tr>
      <td style="width: 50%;padding-left: 30px;font-size: 15px;">
        TA of Registration
      </td>
      <td>
        <select id="current_ta" type="text" name="current_ta" data-validation="required"
                onchange="villages('current_village', document.getElementById('current_district').value, document.getElementById('current_ta').value)"> </select>
      </td>
    </tr>

    <tr>
      <td style="width: 50%;padding-left: 30px;font-size: 15px;">
        Village/Location of Registration
      </td>
      <td>
        <select id="current_village" type="text" name="current_village" data-validation="required"></select>
      </td>
    </tr>
  </table>
    &nbsp;

  <button class="btn btn-primary " style="width: 150px;margin-right: 25px;margin-top: 4vh;"
    onclick="gotoDashboard()">
    <b>Proceed</b>
  </button>
</div>

<div class="modal fade" class="alert-modal" id="alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div id="alert-mod" class="modal-body" style="background: #d9534f;color: white;">
        <div style="width: 100%;height: 75px;">
          <label id='alert-msg' style="font-size: 22px;width: 100%; text-align: center;">&nbsp;</label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default pull-right"
                onclick="__$('alert-msg').innerHTML = '&nbsp;'; jQuery('#alert-modal').modal('hide')" >&nbsp;&nbsp; OK &nbsp;&nbsp; </button>
      </div>
    </div>
  </div>
</div>


<script>

    function gotoDashboard(){
      if (__$('current_district').value.trim().length > 0 && __$('current_ta').value.trim().length > 0 && __$('current_village').value.trim().length > 0) {
          jQuery.ajax({
              url: "/location/set_current?district=" + __$('current_district').value + "&ta=" + __$('current_ta').value + "&village=" + __$('current_village').value,
              success: function (result) {
                if(result == "OK"){
                    window.location = "/"
                }else{
                    alert("Something went wrong!")
                }
              },
              error: function () {
                  alert("Something went wrong!");
              }
          })
      }else{
          alert("Please select all fields to proceed!");
      }
    }


    function districts(id, dep){
        for(var i = 0; i < dep.length; i++){
            jQuery("#" + dep[i]).val("");
            jQuery(document.getElementById(dep[i])).empty();
        }

        var node = document.getElementById(id);
        jQuery(node).empty();

        jQuery.ajax({
            url: "/districts",
            success: function(results){
                var opts = JSON.parse(results);
                for(var i in opts){
                    var option = document.createElement("option");
                    option.innerHTML = opts[i];
                    option.setAttribute("value", opts[i]);

                        if('<%= @cur_location['district']%>' == opts[i] && id=="current_district") {
                            option.setAttribute("selected", "true");
                            tas('current_ta', opts[i], ['current_village'])
                        }
                    node.appendChild(option);
                }

            },
            error: function(){

            }
        })
    }

    function tas(id, parent, dep){
        for(var i = 0; i < dep.length; i++){
            jQuery("#" + dep[i]).val("");
            jQuery(document.getElementById(dep[i])).empty();
        }

        var node = document.getElementById(id);
        jQuery(node).empty();

        jQuery.ajax({
            url: ("/tas?parent=" + parent),
            success: function(results){

                var opts = JSON.parse(results);
                for(var i in opts){
                    var option = document.createElement("option");
                    option.innerHTML = opts[i];
                    option.setAttribute("value", opts[i]);
                    if('<%= @cur_location['ta']%>' == opts[i] && id=="current_ta") {
                        option.setAttribute("selected", "true");
                        villages('current_village', __$('current_district').value, opts[i]);
                    }

                    node.appendChild(option);
                }

            },
            error: function(){

            }
        })
    }

    function villages(id, district, ta){

        var node = document.getElementById(id);
        jQuery(node).empty();

        jQuery.ajax({
            url: ("/villages?district=" + district + "&ta=" + ta),
            success: function(results){

                var opts = JSON.parse(results);

                for(var i in opts){
                    var option = document.createElement("option");
                    option.innerHTML = opts[i];
                    option.setAttribute("value", opts[i]);

                    if('<%= @cur_location['village']%>' == opts[i] && id=="current_village") {
                        option.setAttribute("selected", "true");
                    }
                    node.appendChild(option);
                }

            },
            error: function(){
            }
        })
    }

    districts("current_district", ['current_ta', 'current_village']);

</script>
